#about {
 display: flex;
}

#about img {
    margin: 3rem 0;
    max-width: 40%;
    object-fit: cover;
}

.about-text {
    padding: 2rem;
    width: 60%;
}

.about-text p {
    margin: 1rem;
}

@media screen and (max-width: 1200px) {
    #about {
        display: block;
    }

    #about img {
        max-width: 100%;
    }

    .about-text {
        padding: 0;
        width: 100%;
    }
}