.vh100 {
  height: var(--height);
}

.hero {
  height: 100%;
}

.hero-content {
  margin: auto;
  display: grid;
  text-align: center;
  place-items: center;
  width: 50%;
  height: 85%;
}

.hero-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  opacity: 0.25;
  object-fit: cover;
}

@media screen and (max-width: 1200px) { 
  .vh100 {
    height: calc(var(--height) / 2 );
  }
  .hero {
    height: 100%;
  }

  .hero-content {
    height: 75%;
    width: 80%;
  }

  .hero-img {
    height: 50%;
  }

}