.navbar {
  margin: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  display: flex;
  align-items: end;
}

.navbar li {
  margin-right: 1rem;
  list-style-type: none;
  color: var(--secondary);
}

.navbar li:hover, .navbar a:hover {
  color: var(--accent);
}

.navbar a {
  text-decoration: none;
  color: var(--secondary)
}

.navbar:visited {
  color: var(--secondary)
}