@import url("https://fonts.googleapis.com/css?family=Playfair%20Display:700|Inter:400");

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  /*  sets default dark mode */
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  font-size: 100%;
} /* 16px */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  --font-scale: 1.250;
  --p: 1rem;
  --h5: calc(var(--p) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));
  --small: calc(var(--p) / var(--font-scale));
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .text-primary {
    color: var(--primary);
  }
  .text-secondary {
    color: var(--secondary);
  }
  .text-accent {
    color: var(--accent);
  }

  .bg-primary {
    background-color: var(--primary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .bg-accent {
    background-color: var(--accent);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(268, 18%, 21%);
    --text-faded: hsla(268, 18%, 21%, 0.3);
    --background: hsl(0, 0%, 90%);
    --primary: hsl(266, 62%, 30%);
    --secondary: hsl(267, 91%, 87%);
    --accent: hsl(48, 98%, 56%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(266, 19%, 86%);
    --text-faded: hsla(266, 19%, 86%, 0.6);
    --background: hsl(0, 0%, 12%);
    --primary: hsl(266, 50%, 30%);
    --secondary: hsl(267, 80%, 87%);
    --accent: hsl(48, 98%, 44%);
  }
}

body {
  margin: 0 auto;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display";
  font-weight: 700;
  margin: 1rem 0;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small {
  font-size: var(--small);
}

.container {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}

.callout-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  color: var(--secondary);
  background-color: var(--primary);
}

@media screen and (max-width: 1200px) {
  :root {
      --p: 0.7rem;
  }
}