@import url("https://fonts.googleapis.com/css?family=Playfair%20Display:700|Inter:400");

/* reset */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  /*  sets default dark mode */
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .text-primary { color: var(--primary) }
  .text-secondary { color: var(--secondary) }
  .text-accent { color: var(--accent) }

  .bg-primary { background-color: var(--primary) }
  .bg-secondary { background-color: var(--secondary)}
  .bg-accent { background-color: var(--accent)}
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(268, 18%, 21%);
    --text-faded: hsla(268, 18%, 21%, 0.3);
    --background: hsl(0, 0%, 90%);
    --primary: hsl(266, 62%, 30%);
    --secondary: hsl(267, 91%, 87%);
    --accent: hsl(48, 98%, 56%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(266, 19%, 86%);
    --text-faded: hsla(266, 19%, 86%, 0.60);
    --background: hsl(0, 0%, 12%);
    --primary: hsl(266, 50%, 30%);
    --secondary: hsl(267, 80%, 87%);
    --accent: hsl(48, 98%, 44%);
  }

}

body {
  margin: 0 auto;
  max-width: 1920px;
  background-color: var(--background);
  
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display";
  font-weight: 700;
  margin: 1rem 0;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.callout-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  color: var(--secondary);
  background-color: var(--primary);
}
