@import url("https://fonts.googleapis.com/css?family=Playfair%20Display:700|Inter:400");

/* reset */
*, *::before, *::after {
  box-sizing: border-box 
}

* {
  margin: 0;
  padding: 0;
}

html {
  /*  sets default dark mode */
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(268, 18%, 21%);
    --background: hsl(0, 0%, 90%);
    --primary: hsl(266, 62%, 30%);
    --secondary: hsl(267, 91%, 87%);
    --accent: hsl(48, 98%, 56%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(268, 18%, 79%);
    --background: hsl(0, 0%, 12%);
    --primary: hsl(266, 62%, 70%);
    --secondary: hsl(267, 91%, 13%);
    --accent: hsl(48, 98%, 44%);
  }
}

body {
  margin: 0 auto;
  max-width: 1920px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 5.652rem; /* 90.4px */
}

h2 {
  font-size: 3.997rem; /* 64px */
}

h3 {
  font-size: 2.827rem; /* 45.28px */
}

h4 {
  font-size: 1.999rem; /* 32px */
}

h5 {
  font-size: 1.414rem; /* 22.56px */
}

small {
  font-size: 0.707rem; /* 11.36px */
}
